body{
  background-color:cadetblue;
}
.App {
  text-align: center;
}

ul{
  padding: 0;
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
}
li{
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.data{
  text-align: left;
  margin-left: 20px;
}
button{
  margin: 15px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}
form{
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}